
        .selectt {
            color: #00BFFF;
            padding: 50px;
            display: none;
            margin-top: 30px;
            width: 100%;
            background: #E6E6FA
        }
        label {
            margin-right: 20px;
        }

